<div
    id="product-title-box"
    class="relative h-screen flex flex-col sm:flex-row justify-center items-center p-4"
>
    <div id="product-rating" class="basis-1/4 flex justify-center">
        <div class="relative p-32 border-2 border-black rounded-full">
            <p class="text-9xl absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">{{product.avgRating.amount}}</p>
        </div>
    </div>
    <ul id="product-short-desc" class="basis-3/4 mt-8 sm:mt-0">
        <li>
            <p class="text-5xl sm:text-6xl font-bold capitalize">{{product.name}}</p>
        </li>
        <li>
            <p class="text-7xl sm:text-8xl capitalize mt-8">${{product.price}}</p>
        </li>
        <li>
            <p class="text-3xl sm:text-5xl capitalize leading-normal sm:leading-snug mt-12">{{product.desc}}</p>
        </li>
    </ul>
    <a 
        id="product-more-details-btn"
        class="absolute bottom-0 border border-black p-4 rounded-full mb-8 cursor-pointer"
        href="#product-more-details"
    >
        <img class="-rotate-90" src="/website/arrow.svg" alt="">
    </a>
</div>

<div
    id="product-more-details"
    class="h-screen flex justify-center items-center"
>
    <p class="text-8xl">details</p>
</div>